<!-- User Login Modal Form by Ravid Yoeun-->

<link href="../../../../Content/Theme/CSS/font-awesome.min.css" rel="stylesheet" />

<div class="modal-header">
    <button type="button" class="close" ng-click="lmc.cancel()" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only" >Close</span></button>
    <h4 class="modal-title" id="myModalLabel">Account Login</h4>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-xs-6">
            <div class="well">
                <form id="loginForm" novalidate="novalidate">
                    <div class="form-group">
                        <label for="username" class="control-label">Email</label>
                        <input type="text" class="form-control" id="username" name="username" value="" required="" ng-model="lmc.username" title="Please enter you username" placeholder="Enter Email">
                        <span class="help-block"></span>
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" value="" required="" ng-model="lmc.password" title="Please enter your password" placeholder="Enter Password">
                        <span class="help-block"></span>
                    </div>
                    <div id="loginErrorMsg" class="alert alert-error hide">Wrong username or password</div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="remember" id="remember"> Remember login
                        </label>

                    </div>
                    <button type="submit" class="btn btn-success btn-block" ng-click="lmc.login_button()">Login</button>
                    <a href="/Public/ForgotPassword" class="btn btn-default btn-block">Forgot password?</a>
                </form>
            </div>
        </div>
        <div class="col-xs-6">
            <p class="lead">Don't have an account?</p>
            <ul class="list-unstyled" style="line-height: 2">
                <li><span class="fa fa-check text-success "></span> Hire Companies</li>
                <li><span class="fa fa-check text-success"></span> Collaborate</li>
                <li><span class="fa fa-check text-success"></span> Receive Quotes</li>
                <li><span class="fa fa-check text-success"></span> Bid on Projects</li>
               
                <li><a href="/read-more/"><u>Read more</u></a></li>
            </ul>
            <p><a href="/Account/Register" class="btn btn-info btn-block">Create a new account</a></p>
        </div>
    </div>
</div>
